$background: #cc004b;
$logo: url("http://www.ravenhack.org/static/svg/ravenhackfeather.svg");
$text-color: #ffffff;
$primary-color: darken($background, 20);
$secondary-color: darken($primary-color, 10);

//optional
//$background-image: linear-gradient(90deg, #d53032, #fb0074);