@import "./config.scss";
@font-face {
  font-family: 'Gilroy Bold';
  src: url(./fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: 'Gilroy';
  src: url(./fonts/Gilroy-Regular.ttf);
}

body {
  background: $background;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color !important;
  .navbar {
    height: 80px;
    background: $primary-color;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 500px;
}

#logo {
  content:$logo;
}

.form-label {
  font-size: 36px;
  font-family: "Gilroy Bold";
}

.form-control {
  font-size: 30px;
  padding: 32px 8px;
  border-width: 4px;
  border-color: mix($background, $text-color, 50);
  border-radius: 50px;
  background: transparent !important;
  color: $text-color !important;
  &::placeholder {
    color: mix($background, $text-color, 50);
  }
}

.form-control:focus, .btn:focus {
    box-shadow: none;
    border-color: white;
}

.form-group {
  margin: 64px 0;
}

.btn {
  border-radius: 500px;
  font-size: 30px;
  margin: 20px 0;
  width: 80vw !important;
  max-width: 350px;
  text-transform: uppercase;
  background: $secondary-color !important;
  font-family: "Gilroy Bold";
}
